<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.ar_plus">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.ar" android:required="true" />
    <application>

    </application>
</manifest>
